default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: "{{ lookup('env', 'DB_USERNAME') }}"
  password: "{{ lookup('env', 'DB_PASSWORD') }}"
  host: "{{ lookup('env', 'DB_HOST') }}"

development:
  <<: *default
  database: raisetech_live8_sample_app_development

